:root {
  --white-font: #FFFFFF;
  --font-colour: #eee;
  --font-colour-dark: #aaa;
  --border-colour: #222;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
  --nav-background-colour: #FFD700;
  --nav-hover: #FFA500;
}

@font-face {
  font-family: "noto-sans";
  src: url(/src/fonts/noto-sans.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "noto-sans";
  font-size: 1.4rem;
  background-image: url(/src/images/background.jpg);
  color: var(--white-font);
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.home p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.home img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 1.4rem;
  padding: 1.2rem;
}

.menu-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-decoration: underline;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.menu-item img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.menu-item h2 {
  margin-bottom: 10px;
  color: #fdd835;
}

.menu-item p {
  font-size: 1.1rem;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.contact img {
  max-width: 100%;
  align-self: center;
  margin-top: 1rem;
}

.contact-title {
  text-decoration: underline;
  margin-bottom: 3rem;
  align-self: center;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: none;
}

.map-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
  margin-top: 1rem;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



/* Main */
.main {
  max-width: 800px;
  padding: 4rem;
  margin: 6rem 0;
  background-color: var(--background-light);
  border: 1px solid var(--border-colour);
  border-radius: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  width: 100%;
  padding-bottom: 1rem;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nav-btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: var(--nav-background-colour);
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: var(--nav-hover);
}

/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--border-colour);
  background-color: var(--background-light);
}

.repo-btn {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: inherit;
  color: var(--white-font);
}

.footer i {
  margin-right: 5px;
}

.fa-github:hover {
  color: var(--font-colour-dark);
}