:root {
  --white-font: #FFFFFF;
  --font-color: #eee;
  --font-color-dark: #aaa;
  --border-color: #222;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-light-hover: rgba(99, 99, 99, 0.4);
  --background-dark: rgba(0, 0, 0, 0.9);
}

@font-face {
  font-family: "noto-sans";
  src: url(./noto-sans.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "noto-sans";
  font-size: 1.4rem;
  background-image: url(/dist/images/background.jpg);
  color: var(--white-font);
  background-attachment: fixed;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Home */
.home {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.home p {
  margin-bottom: 1rem;
  text-align: center;
}

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact img {
  max-width: 450px;
}

/* Menu */
.menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 1.4rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item img {
  max-width: 200px;
}

.menu-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

/* Main */
.main {
  max-width: 700px;
  padding: 4rem;
  margin: 6rem 0;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

/* Header Section */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-light);
  width: 100%;
  padding-bottom: 1rem;
}

.nav {}

/* Footer Section */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-light);
}

.fa-github {
  font-size: 2rem;
}

.fa-github:hover {
  color: var(--font-color-dark);
}